<head>
<style type="text/css">
body{
    margin:0px;
}
.fixed-header {
	height:50px;
    width:100%;
    position:fixed;
	background: #F0F0F0;
    top:0px;
}

.fixed-header-bottom {
	height:50px;
    width:100%;
    position:fixed;
	background: #F0F0F0;
    bottom:0px;
}

</style>
</head>
<body>
    <script>
        function changeText(id, text) {
            document.getElementById(id).innerHTML  = text;
        }
	</script>
	
	
<div class="fixed-header">
    <div id="fixedHeaderTop">
	fixed header top
	</div>
</div>
 
 <div class="fixed-header-bottom">
    <div id="fixedHeaderBottom">
	fixed header bottom
	</div>
</div>
<div>
text <br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
<button id="TopButton" onclick="changeText('fixedHeaderTop', 'Top button clicked')">Top button</button>
<br />
text 1 <br />
text 2<br />
text 3<br />
text 4<br />
text 5<br />
text 6<br />
text 7<br />
text 8<br />
text 9<br />

text 10<br />
text 11<br />
text 12<br />
text 13<br />
text 14<br />
text 15<br />
text 16<br />
text 17<br />
text 18<br />
text 19<br />

text 20<br />
text 21<br />
text 22<br />
text 23<br />
text 24<br />
text 25<br />
text 26<br />
text 27<br />
text 28<br />
text 29<br />

text 30<br />
text 31<br />
text 32<br />
text 33<br />
text 34<br />
text 35<br />
text 36<br />
text 37<br />
text 38<br />
text 39<br />


text 40<br />
text 41<br />
text 42<br />
text 43<br />
text 44<br />
text 45<br />
text 46<br />
text 47<br />
text 48<br />
text 49<br />

text 50<br />
text 51<br />
text 52<br />
text 53<br />
text 54<br />
text 55<br />
text 56<br />
text 57<br />
text 58<br />
text 59<br />

text 60<br />
text 61<br />
text 62<br />
text 63<br />
text 64<br />
text 65<br />
text 66<br />
text 67<br />
text 68<br />
text 69<br />

text 70<br />
text 71<br />
text 72<br />
text 73<br />
text 74<br />
text 75<br />
text 76<br />
text 77<br />
text 78<br />
text 79<br />

<button id="BottomButton" onclick="changeText('fixedHeaderBottom', 'Bottom button clicked')">Bottom button</button>
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
text<br />
</div>